<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558033749994-40q09s08it5c8p6jkage71gv786pe80v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558033749994-40q09s08it5c8p6jkage71gv786pe80v</string>
	<key>API_KEY</key>
	<string>AIzaSyDOEc8tCTDPglpgXvdvEovyUaI_qHQPM8o</string>
	<key>GCM_SENDER_ID</key>
	<string>558033749994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.polijecs.skoolen</string>
	<key>PROJECT_ID</key>
	<string>skoolen-stable</string>
	<key>STORAGE_BUCKET</key>
	<string>skoolen-stable.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558033749994:ios:1fd0f416c899172a899493</string>
</dict>
</plist>